<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Order Summary</h1>
    <p>Thank you, <%= order.name %> for your order!</p>
    <p>Email: <%= order.email %></p>
    <p>Flavor: <%= order.flavor %></p>
    <p>Cone Type: <%= order.cone %></p>
    <p>Toppings: <%= order.toppings %></p>
    <p>Additional Comments: <%= order.comment %></p>
</body>
</html>